<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="{% static 'css/project.css' %}">
</head>
<body>
    
    <input type="checkbox" id="sidebar-toggle">
    <div class="sidebar">
        <div class="sidebar-header">
            <h3 class="brand">
                <span class="ti-unlink"></span> 
                <span>AsgnBuddy</span>
            </h3> 
            <label for="sidebar-toggle" class="ti-menu-alt"></label>
        </div>
        
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="{% url 'dashboard'%}">
                        <span class="ti-home"></span>
                        <span>Home</span>
                    </a>
                </li>
                
                <li>
                    <a href="{% url 'todo_list'%}">
                        <span class="ti-agenda"></span>
                        <span>To-Do List</span>to-
                    </a>
                </li>
                
                <li>
                    <a href="{% url 'projects'%}">
                        <span class="ti-folder"></span>
                        <span>Projects</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'ticket' %}">
                        <span class="ti-settings"></span>
                        <span>Submit a ticker</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
    
    <div class="main-content">
        
        <header>
            <div class="search-wrapper">
                <span>Welcome</span>
            </div>
            
            <div class="social-icons">
                <span class="ti-bell"></span>
                <span class="ti-comment"></span>
                <div></div>
            </div>
        </header>
        
        <main>
            
            <h2 class="dash-title">Overview</h2>
            
            <div class="dash-cards">
                <div class="card-single">
                    <div class="card-body">
                        <span class="ti-ruler-pencil"></span>
                        <div>
                            <h5>On Goings Tasks</h5>
                            <h4>3</h4>
                        </div>
                    </div>
                     
                </div>
                
                
                <div class="card-single">
                    <div class="card-body">
                        <span class="ti-check-box"></span>
                        <div>
                            <h5>Questions Answered</h5>
                            <h4>143</h4>
                        </div>
                    </div>
                     
                </div>
            </div>
            
            
            <section class="recent">
                <div class="activity-grid">
                    <div class="activity-card">
                        <h3>Projects</h3>
                        
                        <div class="table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Student</th>
                                        <th>Project</th>
                                        <th>Category</th>
                                        <th>Due Date</th>
                                        <th>Details</th>
                                    </tr>
                                </thead>
                                {% for q in question%}
                                <tbody>
                                    <tr>
                                        <td class="td-team">
                                            <div class="img-1"></div>
                                            <span>{{q.student}}</span>
                                        </td>
                                        <td>{{q.topic}}</td>
                                        <td>{{q.category}}</td>
                                        <td>{{q.date}}<br>{{q.time}}</td>
                                        
                                        <td>
                                            <span class="badge success">View Details</span>
                                        </td>
                                    </tr>
                                    
                                </tbody>
                                {% endfor %}
                            </table>
                        </div>
                    
                    </div>
                    <div class="summary">
                        <div class="summary-card">
                            <div class="summary-single">
                                <span class="ti-align-justify"></span>
                                <div>
                                    <h5>Discription</h5>
                                    <small>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti magni in ullam suscipit excepturi beatae possimus deserunt iusto recusandae, quos ea, autem repellendus quis magnam perferendis? Nesciunt ut perferendis optio.</small>
                                </div>
                            </div>
                            <div class="summary-single">
                                <span class="ti-files"></span>
                                <div>
                                    <h5>Attached Files</h5>
                                    <small>link</small>
                                </div>
                            </div>
                            <div class="summary-single">
                                <span class="ti-money"></span>
                                <div>
                                    <h5>Bid</h5>
                                    <input type="text" placeholder="Amount in $">
                                    <br>
                                    <br>
                                    <input type="text" placeholder="Message To Student" class="message">
                                </div>
                            </div>
                            <br>
                            <div class="text-center">
                                <button>
                                    <span class="ti-angle-double-right"></span>
                                    Next
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
        </main>
        
    </div>
    
</body>
</html>