<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table><tr>
        <th><label for="id_student">Student:</label></th>
        <td>
          <ul class="errorlist"><li>Select a valid choice. That choice is not one of the available choices.</li></ul>
          <select name="student" id="id_student">
      <option value="">---------</option>
    
      <option value="1">shiv | Shivam Choubey</option>
    
    </select>
    
    
        </td>
      </tr>
    
      <tr>
        <th><label for="id_category">Category:</label></th>
        <td>
    
          <select name="category" id="id_category">
      <option value="others">others</option>
    
      <option value="Science">Science</option>
    
      <option value="Maths" selected>Maths</option>
    
      <option value="Programming">Programming</option>
    
    </select>
    
    
        </td>
      </tr>
    
      <tr>
        <th><label for="id_description">Description:</label></th>
        <td>
    
          <input type="text" name="description" value="sdasdasd" maxlength="250" required id="id_description">
    
    
        </td>
      </tr>
    
      <tr>
        <th><label for="id_upload">Upload:</label></th>
        <td>
    
          <input type="file" name="upload" required id="id_upload">
    
    
        </td>
      </tr>
    
      <tr>
        <th><label for="id_urgency">Urgency:</label></th>
        <td>
    
          <input type="text" name="urgency" value="5" maxlength="250" required id="id_urgency">
    
    
    
    
        </td>
      </tr></table>
</body>
</html>